{% from "macros.html" import pagination %}
<!DOCTYPE html>
<html>
<head>
    <title>Weather Station Data Portal</title>
</head>
<body>
    <h1>Weather Station Data Portal</h1>
    <h2>Search</h2>
    <br>
    <hr>
    <h2>Available stations</h2>
    <p>
        <table border="1">
            <thead>
                <tr>
                    <th>Station ID</th>
                    <th>Station Name</th>
                </tr>
            </thead>
            <tbody>
                {% for station in data %}
                <tr>
                    <td>{{ station['STAID'] }}</td>
                    <td>{{ station['STANAME'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination(page, has_next, 'home') }}
        <p>Items: {{ data|length }}</p>
    </p>
</body>
</html>