{% extends "base.html" %}
{% from "macros.html" import pagination %}

{% block title %}Weather Station Data Portal{% endblock %}

{% block content %}
    <h2>Find station id</h2>
    <form method="get" action="{{ url_for('ui.home_ui') }}">
        <label for="station_name">Station name: </label>
        <input type="text" id="station_name" name="station_name">
        <input type="submit" id="search_button" value="Search">
    </form>
    <hr>
    {% if not no_results %}
        <h2>Available stations</h2>
        <table class="data-table">
            <thead>
                <tr>
                    <th class="col-id">ID</th>
                    <th>Station Name</th>
                </tr>
            </thead>
            <tbody>
                {% for station in data %}
                <tr>
                    <td>{{ station['id'] }}</td>
                    <td>{{ station['name'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination(page, has_next, total_pages, 'ui.home_ui') }}
    {% else %}
        <h2>No stations found</h2>
    {% endif %}
{% endblock %}
