{% extends "base.html" %}

{% block title %}Insights — Weather Station Data Portal{% endblock %}

{% block content %}
    <h1>Insights</h1>
    <form method="get" action="{{ url_for('ui.insights_ui') }}">
        <label for="station_name_search">Station: </label>
        <input type="text" id="station_name_search" name="station_name_search" placeholder="Search station..."/>
        <!-- TODO: refactor to remove extra field and store value in 'station_name_search' -->
        <input type="text" id="station_id" name="station_id">
        <div id="results" class="combo-dropdown"></div>
        <br><br>
        <label for="date">Date (optional)</label>
        <input type="text" id="date" name="date" placeholder="Format: mm-dd (e.g. 02-27)"/>
        <input type="submit" id="load_insights" value="Load insights"/>
    </form>
    <hr>
    <table class="data-table">
        <thead>
            <tr>
                <th>Insight</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% if station_name %}
            <h2>
                Insights for {{ station_name }}
                {% if date %}
                on {{ date }}
                {% endif %}
            </h2>
            {% endif %}
            <tr>
                <td>Hottest year: </td>
                <td>{{ hottest_year }} @ {{ hottest_year_temp }} °C</td>
            </tr>
            <tr>
                <td>Coldest year: </td>
                <td>{{ coldest_year }} @ {{ coldest_year_temp }} °C</td>
            </tr>
            <tr>
                <td>Hottest day: </td>
                <td>{{ hottest_day }} @ {{ hottest_day_temp }} °C</td>
            </tr>
            <tr>
                <td>Coldest day: </td>
                <td>{{ coldest_day }} @ {{ coldest_day_temp }} °C</td>
            </tr>
            {% if date %}
            <tr>
                <td>Average temp: </td>
                <td>{{ avg_temp }} °C</td>
            </tr>
            <tr>
                <td>Temperature variability: </td>
                <td>±{{ std_temp }} °C</td>
            </tr>
            {% else %}
            <tr>
                <td style="color: gray;">Average temp: </td>
                <td style="color: gray;"> - </td>
            </tr>
            <tr>
                <td style="color: gray;">Temperature variability: </td>
                <td style="color: gray;"> - </td>
            </tr>
            {% endif %}
            <tr>
                <td>Missing records: </td>
                <td>{{ missing_records }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/combo-search.js') }}" defer></script>
{% endblock %}
